/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/* 
FONTS 

font-family: 'Bodoni Moda', serif;
font-family: 'Poppins', sans-serif;
*/

/******************************************
/* BASE STYLES
/*******************************************/
:root{
  --indigo: #0d0d25;
  --orange: #ff8800;
  --placeholder-color: #b9b9b9;
  --nav-colors: #353558;
  --button-click-color: #ffaa4d;
  --paragraph-color: #2C313C;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  color: var(--paragraph-color);
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--paragraph-color);
}

h1,
h2,
footer h3{
  font-family: 'Bodoni Moda', serif;
  color: var(--indigo);
  text-transform: capitalize;
}

/******************************************
/* LAYOUT
/*******************************************/
header{
  border: 1px solid red;
}

.header{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
  position: relative;
}

.header ul{
  display: flex;
  justify-content: space-between;
  width: 60%;
  border: 1px solid green;
}

.header li{
  border: 1px solid yellow;
  font-size: .66rem;
}

.main{
  background: url(/img/brooke-lark-08bOYnH_r_E-unsplash.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(-1);
}

.main h1,
.main form,
.main ul{
  transform: scaleX(-1);
}

.main h1{
  margin-top: 0;
  font-size: 2rem;
}

.main form input{

}





/******************************************
/* ADDITIONAL STYLES
/*******************************************/
