/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/* 
FONTS 

font-family: 'Bodoni Moda', serif;
font-family: 'Poppins', sans-serif;
*/

/******************************************
/* BASE STYLES
/*******************************************/
:root{
  --indigo: #0d0d25;
  --orange: #ff8800;
  --placeholder-color: #b9b9b9;
  --nav-colors: #353558;
  --button-click-color: #ffaa4d;
  --paragraph-color: #2C313C;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  color: var(--paragraph-color);
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--paragraph-color);
}

h1{
  font-size: 3.8rem;
}

h4{
  font-size: 1rem;
  color: var(--orange);
  font-weight: 500;
  margin-bottom: .5rem;
  text-transform: capitalize;
} 

h1,
h2,
footer h3{
  font-family: 'Bodoni Moda', serif;
  color: var(--indigo);
  text-transform: capitalize;
  margin: 0;
}

.fab{
  color: var(--orange);
}

/******************************************
/* LAYOUT
/*******************************************/
header{
  /* border: 1px solid red; */
  position: absolute;
  z-index: 100;
  width: 100%;
  padding-top: 1.2rem;
}

.header{
  padding-right: 5rem;
}

.header ul{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  /* border: 1px solid green; */
}

.header li{
  /* border: 1px solid yellow; */
  font-size: .9rem;
  margin-left: 4.2%;
}

.header li i{
  /* border: 1px solid yellow; */
  font-size: 1.2rem;
}


.main{
  position: relative;
  background: url(/img/brooke-lark-08bOYnH_r_E-unsplash.jpg);
  height: 792px;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateY(180deg);
}

.welcome-section{
  transform: rotateY(180deg);
  padding-left: 5rem;
  margin-top: 15rem;
  float: right;
  width: 50%;
}

.main h1{
  margin: 0;
  font-size: 4rem;
}

.main form{
  margin: 2rem 0 2.4rem 0;
  font-size: .85rem;
}

.main form input{
  padding: .75rem .8rem;
  width: 55%;
  border: 1px solid #b9b9b97b;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: var(--paragraph-color);
}

.main form input:focus{
  outline: none;
}

.main form button{
  width: 6rem;
  padding: .75rem 0;
  background-color: var(--orange);
  border: 1px solid #b9b9b97b;
  border-left: none;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  cursor: pointer;
}

.fa-caret-down{
  margin-left: .4rem;
  font-size: .66rem;
}

.main ul{
  display: flex;
}

.main li{
  margin-right: 3rem;
  font-size: 1rem;
}


.about-us{
  display: flex;
  
}

.about-us-left-image{
  background-image: 
  linear-gradient(to right, rgba(223, 223, 223, 0) 70%, rgb(255, 255, 255) 90%),
  url(/img/not\ url\ background\ image.jpg);
  width: 45%;
  background-size: cover;
  overflow: hidden;
}

.about-us-content{
  width: 55%;
  background-image: rgb(239, 241, 240);
  padding: 8.5% 5%;
}

.about-us-content p{
  line-height: 1.8;
  font-size: .9rem;
  margin: 1.5rem 0;
}

.about-us-content input{
  padding: .75rem .8rem;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  background: var(--orange);
  color: white;
  font-size: .85rem;
  cursor: pointer;
}

.about-us-content button{
  padding: .75rem .8rem;
  background-color: var(--button-click-color);
  border: none;
  border-left: none;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: .85rem;
}

.fa-arrow-right{
  font-size: .66rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
